PORT=8080
MONGO_URI=mongodb://db:27017/stockity
MONGO_CA_FILE=

CLIENT=http://localhost:3000
CLIENT_URL=http://localhost:3000
CLIENT_URLS=http://localhost:3000

ENVIRONMENT=development
NODE_ENV=development

JWT_SECRET=change-me
jwtSecret=change-me
JWT_EXPIRE=5 days

LOG_DIR=../logs
LOG_FORMAT=combined
SWAGGER_SERVER_URL=http://localhost:8080

MARKET_STACK_API_KEY=
FINNHUB_API_KEY=
